version: '3'

services:
  app:
    build:
      context: ./
      dockerfile: ./Dockerfile
    environment:
      - NODE_ENV
      - API_URL
    ports:
      - 3000:3000
    volumes:
      - ./src:/app/src
      - ./public:/app/public
      - ./.env:/app/.env
      - ./package.json:/app/package.json
    command: ["./node_modules/.bin/next", "start", "-p", "3000"]

  storybook:
    build:
      context: ./
      dockerfile: ./.storybook/Dockerfile
    environment:
      - NODE_ENV
    ports:
      - 6006:6006
    volumes:
      - ./src:/app/src
      - ./public:/app/public
      - ./.env:/app/.env
      - ./package.json:/app/package.json
      - ./.storybook:/app/.storybook
    command: ["yarn", "storybook"]
